.search_orders {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    margin: 0;
    padding: 24px;
}

.search_orders__title {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: var(--font-size-16);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-medium);
    color: var(--black);
    margin: 0 0 16px 0;
    padding: 0;
    text-align: center;
}

.search_orders__container {
    position: relative;
    margin: 6px 0 6px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
}

/* .search_orders {
    border: 1px solid var(--dark-grey);
} */

.search_orders__input_title {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: var(--font-size-12);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-regular);
    color: var(--dark-grey);
    margin: 0;
    padding: 2px 4px 2px 4px;
    background-color: var(--white);
    position: absolute;
    top: -12px;
    left: 10px;
    z-index: 2;
}

.search_orders__input {
    display: flex;
    height: 40px;

}

.search_orders__button_container {
    height: 6px;
}