.address_form {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
    gap: 16px;
    background-color: var(--white);
    margin: 0;
    padding: 24px;
}

.address_form__title {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: var(--font-size-16);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-medium);

    margin: 0;
    padding: 0;
    text-align: center;
}


.address_form__label {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: var(--font-size-12);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-regular);
    color: var(--dark-grey);

    margin: 0;
    padding: 0;
}


.address_form__date_input {

    height: 44px;
    box-sizing: border-box;
    border-color: var(--dark-grey);
    background-color: var(--white);
    border: 1px solid;
    border-radius: 5px;
    margin: 0;
    padding: 0 16px 0 16px;

    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: var(--font-size-16);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-regular);
}

.address_form__button {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: var(--font-size-16);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-medium);
    color: var(--white);
    background-color: var(--light-grey);

    height: 44px;
    box-sizing: border-box;
    border-color: var(--dark-grey);

    border: 1px solid var(--light-grey);
    border-radius: 5px;

    margin: 0;
    padding: 0;
}

.address_form__button_active {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: var(--font-size-16);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-medium);
    color: var(--green);
    background-color: var(--blue);

    height: 44px;
    box-sizing: border-box;
    /* border-color: var(--blue); */

    border: 1px solid var(--blue);
    border-radius: 5px;

    cursor: pointer;

    margin: 0;
    padding: 0;
}